#alcss-output-css {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    width: 500px;
    height: 500px;
    overflow: scroll;
    color: #292929;
    text-align: left;
}
